// Dark theme colors
@dark-bg: #121212;
@dark-secondary-bg: #181818;
@dark-text: #dbd7caee;
@dark-border: #2a2a2a;
@dark-primary: #4d9375;
@dark-primary-hover: #5da994;
@dark-success: #4d9375;
@dark-success-bg: #4d93751c;
@dark-success-border: #4d9375;
@dark-error: #cb7676;
@dark-error-bg: #cb76761c;
@dark-error-border: #cb7676;
@dark-error-hover: #db889a;
@dark-button-bg: #181818;
@dark-button-hover: #2f363d;
@dark-muted: #dedcd590;

// Light theme colors
@light-bg: #ffffff;
@light-secondary-bg: #f7f7f7;
@light-text: #393a34;
@light-border: #dcdcdc;
@light-primary: #1c6b48;
@light-primary-hover: #1e754f;
@light-success: #1e754f;
@light-success-bg: #1c6b4814;
@light-success-border: #1e754f;
@light-error: #ab5959;
@light-error-bg: #ab595914;
@light-error-border: #ab5959;
@light-error-hover: #b31d28;
@light-button-bg: #ffffff;
@light-button-hover: #f7f7f7;
@light-muted: #393a3490;
